* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff0f6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}

.container {
    background-color: white;
    width: 100%;
    max-width: 420px;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(255, 105, 180, 0.25);
    text-align: center;
}

h1 {
    color: #ff4fa3;
    margin-bottom: 20px;
}

input[type="file"], input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px dashed #ff69b4;
    border-radius: 12px;
    background-color: #fff5fa;
    font-size: 14px;
}

button {
    width: 95%;
    padding: 12px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #ff4fa3;
}

.result-box {
    background-color: #ffd6e8;
    border: 2px solid #ff69b4;
    border-radius: 14px;
    padding: 12px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #8b0055;
}

.why-pay-box {
    background: #ffffff;
    border-left: 4px solid hotpink;
    padding: 14px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: left;
}

.why-pay-box h4 {
    margin-bottom: 8px;
    color: #c2185b;
}

.why-pay-box ul {
    padding-left: 18px;
    margin: 0;
}

.why-pay-box li {
    margin-bottom: 6px;
    font-size: 14px;
}

.admin-box {
    background: #fff;
    border: 2px dashed hotpink;
    padding: 12px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: left;
}

.admin-box li {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-box button {
    background: green;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}
.payment-box {
    border: 2px solid hotpink;
    background: #fff0f6;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 20px;
    text-align: left;
}

.payment-box h3 {
    color: #c2185b;
    margin-bottom: 8px;
}

.pay-list {
    list-style: none;
    padding: 0;
    margin-bottom: 12px;
}

.pay-list li {
    margin-bottom: 6px;
    font-weight: 500;
}

